---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Hard Skill</h2>

		<div class="Skills">
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
					<path fill="#7611a6" d="M3 3h18v18H3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155c-.552-.259-1.165-.438-1.349-.854c-.068-.248-.078-.382-.034-.529c.113-.484.687-.629 1.137-.495c.293.09.563.315.732.676c.775-.507.775-.507 1.316-.844c-.203-.314-.304-.451-.439-.586c-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754c-.855.968-.608 2.655.427 3.354c1.023.765 2.521.933 2.712 1.653c.18.878-.652 1.159-1.475 1.058c-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832c1.305 1.316 4.568 1.249 5.153-.754c.021-.067.18-.528.056-1.237zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354c0 .924.047 1.772-.104 2.033c-.247.517-.886.451-1.175.359c-.297-.146-.448-.349-.623-.641c-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137c.641.383 1.502.507 2.404.305c.588-.17 1.095-.519 1.358-1.059c.384-.697.302-1.553.299-2.509c.008-1.541 0-3.083 0-4.635z" />
				</svg>
			<p>Html</p>		
			</div>
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
					<g fill="none">
						<g clip-path="url(#akarIconsSassFill0)">
							<path fill="#7611a6" d="M12 0c6.6 0 12 5.4 12 12s-5.4 12-12 12S0 18.6 0 12S5.4 0 12 0M9.6 15.975c.15.675.15 1.275 0 1.8L9.525 18c0 .075-.075.15-.075.15c-.15.3-.3.525-.525.825c-.675.75-1.65 1.05-2.1.825c-.45-.225-.225-1.35.6-2.175c.9-.9 2.1-1.5 2.1-1.5zM19.5 5.1c-.525-2.1-4.05-2.85-7.425-1.65c-1.95.75-4.125 1.875-5.7 3.3c-1.875 1.725-2.1 3.225-2.025 3.825C4.8 12.75 7.8 14.25 9.075 15.3C8.7 15.45 6 16.8 5.4 18.225c-.675 1.5.075 2.55.6 2.625c1.575.45 3.225-.375 4.05-1.65c.825-1.275.75-2.85.375-3.675a3.532 3.532 0 0 1 1.8-.075c2.1.225 2.55 1.575 2.4 2.1c-.15.525-.525.825-.675.975c-.15.075-.225.15-.15.15c0 .075.075.075.225.075c.15 0 1.125-.45 1.125-1.5c.075-1.275-1.2-2.7-3.375-2.7c-.9 0-1.5.075-1.875.225c0-.075-.075-.075-.075-.075c-1.35-1.425-3.825-2.475-3.75-4.425c0-.675.3-2.55 4.8-4.8c3.675-1.875 6.675-1.35 7.2-.225c.75 1.575-1.575 4.575-5.4 5.025c-1.5.15-2.25-.375-2.4-.6c-.225-.225-.225-.225-.3-.225c-.15.075-.075.225 0 .375c.15.3.6.825 1.425 1.125c.675.225 2.4.375 4.5-.45c2.325-.9 4.125-3.375 3.6-5.475z" />
						</g>
						<defs>
							<clipPath id="akarIconsSassFill0">
								<path fill="#fff" d="M0 0h24v24H0z" />
							</clipPath>
						</defs>
					</g>
				</svg>
			<p>Scss</p>		
			</div>
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
					<path fill="#7611a6" d="M3 3h18v18H3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155c-.552-.259-1.165-.438-1.349-.854c-.068-.248-.078-.382-.034-.529c.113-.484.687-.629 1.137-.495c.293.09.563.315.732.676c.775-.507.775-.507 1.316-.844c-.203-.314-.304-.451-.439-.586c-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754c-.855.968-.608 2.655.427 3.354c1.023.765 2.521.933 2.712 1.653c.18.878-.652 1.159-1.475 1.058c-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832c1.305 1.316 4.568 1.249 5.153-.754c.021-.067.18-.528.056-1.237zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354c0 .924.047 1.772-.104 2.033c-.247.517-.886.451-1.175.359c-.297-.146-.448-.349-.623-.641c-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137c.641.383 1.502.507 2.404.305c.588-.17 1.095-.519 1.358-1.059c.384-.697.302-1.553.299-2.509c.008-1.541 0-3.083 0-4.635z" />
				</svg>
			<p>JavaScript</p>		
			</div>
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="0.7em" height="1.5em" viewBox="0 0 256 549">
					<path fill="#7611a6" d="M175.622 61.108C152.612 33.807 132.797 6.078 128.749.32a1.03 1.03 0 0 0-1.492 0c-4.048 5.759-23.863 33.487-46.874 60.788c-197.507 251.896 31.108 421.89 31.108 421.89l1.917 1.28c1.704 26.234 5.966 63.988 5.966 63.988h17.045s4.26-37.54 5.965-63.987l1.918-1.494c.213.214 228.828-169.78 31.32-421.677m-47.726 418.05s-10.227-8.744-12.997-13.222v-.428l12.358-274.292c0-.853 1.279-.853 1.279 0l12.357 274.292v.428c-2.77 4.478-12.997 13.223-12.997 13.223" />
				</svg>
				<p>MongoDb</p>
			</div>
			
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 2048 2048">
					<path fill="#7611a6" d="M2048 1039q0 47-21 88t-57 75t-81 63t-92 51t-94 40t-82 28q15 63 24 126t9 127q0 53-9 109t-34 101t-67 75t-108 29q-55 0-112-21t-111-55t-102-72t-87-75q-38 36-86 75t-103 72t-111 54t-112 22q-65 0-107-29t-67-74t-34-102t-10-109q0-64 9-127t24-126q-37-11-82-28t-93-39t-93-51t-80-63t-57-76t-22-88q0-47 21-88t57-75t81-63t92-51t94-40t82-28q-15-63-24-126t-9-127q0-53 9-109t34-101t67-75t108-29q55 0 112 21t111 55t102 72t87 76q38-36 86-75t103-73t111-54t112-22q65 0 107 29t67 74t34 102t10 109q0 64-9 127t-24 126q36 11 82 28t93 39t93 51t80 63t57 76t22 88m-612-816q-43 0-91 20t-94 49t-88 64t-71 62q47 49 88 101t81 107q69 6 136 17t133 27q13-56 21-113t8-114q0-30-4-68t-16-72t-37-57t-66-23m-834 930q-17 41-31 81t-28 83q43 11 86 18t87 13q-31-48-59-96t-55-99m-59-392q13 42 27 83t32 82q26-51 55-99t59-97q-44 6-87 13t-86 18m109 278q80 166 186 322q47 4 93 5t93 2q47 0 93-1t93-6q106-156 186-322q-42-85-87-164t-99-158q-47-3-93-5t-93-2q-47 0-93 2t-93 5q-53 78-98 157t-88 165m680 309q44-5 87-12t86-19q-13-42-27-82t-32-82q-26 51-54 99t-60 96m114-422q17-41 31-82t28-83q-43-10-86-17t-87-14q30 48 59 96t55 100m-311-309q-26-35-53-67t-58-65q-30 32-57 64t-54 68q55-3 111-3q55 0 111 3M489 443q0 57 8 114t21 113q66-16 133-27t136-17q39-55 80-107t89-101q-30-28-71-62t-87-63t-95-50t-91-20q-41 0-65 23t-37 56t-17 72t-4 69m-38 849q20-65 44-128t52-125q-28-62-52-125t-44-128q-24 7-59 19t-74 30t-79 40t-71 48t-52 55t-20 61q0 32 19 61t51 55t71 48t79 39t75 30t60 20m161 563q43 0 91-20t94-49t88-63t71-62q-47-49-88-101t-81-108q-68-6-135-17t-134-26q-13 56-21 112t-8 114q0 31 3 69t17 72t37 56t66 23m301-393q52 69 111 132q58-63 111-132q-56 3-111 3q-57 0-111-3m646 173q0-57-8-113t-21-113q-67 15-134 26t-135 17q-39 55-80 107t-89 102q30 28 71 61t87 63t95 50t91 20q41 0 65-22t37-56t17-72t4-70m38-343q24-7 59-19t75-30t79-40t71-48t51-55t20-61q0-32-20-61t-51-55t-71-48t-79-39t-75-30t-59-20q-20 65-44 128t-52 125q28 62 52 125t44 128m-573-62q-39 0-74-15t-60-41t-41-61t-15-74q0-39 15-74t40-60t61-41t74-15q39 0 74 15t60 40t41 61t15 74q0 39-15 74t-40 61t-61 41t-74 15" />
				</svg>
				<p>React</p>
			</div>
			
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 128 128">
					<path fill="#7611a6" d="M86.072 24.664a.71.71 0 0 0-.351.09a.755.755 0 0 0-.375.637v18.93a.564.564 0 0 1-.264.464a.549.549 0 0 1-.52 0l-3.066-1.773a1.486 1.486 0 0 0-1.478 0L67.75 50.146a1.48 1.48 0 0 0-.754 1.28v14.238c0 .524.291 1.021.754 1.283l12.27 7.135a1.486 1.486 0 0 0 1.476 0l12.27-7.135c.463-.262.754-.759.754-1.283V30.168c0-.553-.291-1.05-.754-1.31l-7.32-4.104a.836.836 0 0 0-.374-.09M13.686 42.43c-.23 0-.461.086-.663.2L.753 49.739A1.493 1.493 0 0 0 0 51.047l.03 19.101c0 .263.142.526.374.643a.656.656 0 0 0 .725 0l7.295-4.193a1.48 1.48 0 0 0 .75-1.282v-8.939c0-.524.29-1.021.754-1.283l3.095-1.805a1.39 1.39 0 0 1 .752-.203c.26 0 .522.057.725.203l3.096 1.805c.463.262.754.759.754 1.283v8.94c0 .522.288 1.02.75 1.28l7.236 4.194a.704.704 0 0 0 .752 0a.724.724 0 0 0 .377-.643V51.047c0-.524-.29-1.02-.754-1.283L14.47 42.63a1.763 1.763 0 0 0-.664-.201zm100.67.207v.002l-.002.002c-.253 0-.505.065-.737.197l-12.271 7.13c-.463.264-.75.759-.75 1.284v14.24c0 .524.287 1.02.75 1.281l12.183 6.989a1.43 1.43 0 0 0 1.448 0l7.38-4.133a.724.724 0 0 0 .375-.643a.724.724 0 0 0-.375-.64L110.03 61.21a.76.76 0 0 1-.375-.645V56.11a.72.72 0 0 1 .375-.638l3.854-2.213a.705.705 0 0 1 .752 0l3.845 2.213a.762.762 0 0 1 .377.638v3.494c0 .263.144.525.375.641a.704.704 0 0 0 .754 0l7.291-4.28a1.46 1.46 0 0 0 .727-1.28V51.22c0-.524-.292-1.019-.727-1.282l-12.181-7.101a1.499 1.499 0 0 0-.74-.201zm-67.043.049a1.374 1.374 0 0 0-.682.183l-12.17 7.067l4.258 7.81L47.457 42.7a2 2 0 0 0-.143-.013h-.002zm.566.148l8.607 14.814l4.045-7.445a1.34 1.34 0 0 0-.25-.201l-6.271-3.643l-6.037-3.488c-.03-.015-.063-.025-.094-.037m-.25.06l-8.774 15.104l8.702 15.965c.024-.005.048-.007.072-.014l8.719-16.047l-8.72-15.007zm-13.377 7.172a1.35 1.35 0 0 0-.576 1.123V65.49c0 .228.062.45.168.647l4.728-8.143zm26.45.342l-4.071 7.49l4.318 7.434V51.189c0-.28-.092-.553-.248-.78zm20.056 2.865c.065 0 .13.015.19.045l4.193 2.448c.116.058.175.201.175.318v4.893c0 .146-.06.264-.175.322l-4.196 2.445a.431.431 0 0 1-.377 0l-4.195-2.443c-.116-.058-.176-.205-.176-.322v-4.893c0-.146.061-.261.176-.32l4.195-2.448a.425.425 0 0 1 .19-.045m33.555 1.98a.26.26 0 0 0-.145.046l-2.346 1.369a.3.3 0 0 0-.142.26v2.74c0 .116.055.204.142.262l2.346 1.369a.262.262 0 0 0 .289 0l2.344-1.37a.308.308 0 0 0 .144-.261V56.93a.303.303 0 0 0-.144-.26l-2.344-1.371a.26.26 0 0 0-.144-.043zm-57.819 2.9l-8.512 15.665l.014-.007l12.287-7.137c.343-.194.563-.526.637-.903l-4.426-7.619zm-17.783.095l-4.715 8.117c.1.123.217.23.35.31L46.5 73.737l.13.075h.003a1.377 1.377 0 0 0 .3.126c.031.01.062.015.092.022c.06.013.118.022.178.027c.029.003.057.002.086.002l-8.578-15.74zm24.51 13.393c-.427 0-.853.1-1.215.304l-11.55 6.73A2.457 2.457 0 0 0 49.24 80.8v13.42c0 .874.463 1.689 1.215 2.127l3.041 1.746c1.475.728 1.995.724 2.66.724c2.17 0 3.416-1.338 3.416-3.638V81.936a.356.356 0 0 0-.345-.352h-1.475a.356.356 0 0 0-.352.352v13.248c0 1.019-1.066 2.039-2.773 1.166l-3.156-1.834c-.116-.058-.174-.207-.174-.323V80.768c0-.116.058-.263.174-.32l11.545-6.696c.087-.058.232-.058.35 0l11.544 6.695c.115.06.176.176.176.32v13.424c0 .145-.06.265-.176.323l-11.547 6.726c-.087.058-.232.058-.35 0l-2.949-1.777c-.088-.058-.204-.086-.29-.03c-.81.468-.953.528-1.735.79c-.174.058-.463.172.115.492l3.852 2.303c.376.203.78.318 1.215.318c.434 0 .866-.115 1.213-.26L75.98 96.35a2.463 2.463 0 0 0 1.215-2.13V80.8c0-.874-.463-1.686-1.215-2.123l-11.546-6.73a2.488 2.488 0 0 0-1.213-.305zm18.027 6.129a2.236 2.236 0 0 0-2.227 2.244a2.236 2.236 0 0 0 2.227 2.242c1.217 0 2.23-1.02 2.23-2.242a2.254 2.254 0 0 0-2.23-2.243zm-.03.376h.003a1.86 1.86 0 0 1 1.883 1.868c0 1.02-.841 1.89-1.883 1.89c-1.012 0-1.854-.842-1.854-1.89s.87-1.866 1.852-1.868zm-.81.614v2.56h.494v-1.013h.438c.174 0 .23.058.26.203c0 .03.086.669.086.785h.52c-.06-.116-.087-.468-.116-.672c-.028-.32-.056-.551-.404-.58c.174-.059.46-.145.46-.611c0-.67-.58-.67-.869-.67zm.438.408h.402c.146 0 .379 0 .379.35c0 .116-.059.35-.379.35h-.402zm-14.469 2.01c-3.3 0-5.272 1.399-5.272 3.758c0 2.534 1.969 3.228 5.124 3.548c3.79.38 4.08.935 4.08 1.692c0 1.31-1.042 1.861-3.473 1.861c-3.068 0-3.735-.757-3.967-2.299c0-.176-.14-.29-.314-.29H61.05a.35.35 0 0 0-.35.35c0 1.98 1.044 4.307 6.11 4.307c3.645 0 5.755-1.456 5.755-4.02c0-2.503-1.68-3.174-5.238-3.64c-3.59-.466-3.965-.728-3.965-1.572c0-.699.32-1.629 2.98-1.629c2.375 0 3.272.524 3.62 2.125a.34.34 0 0 0 .316.264h1.534c.087 0 .177-.057.236-.115a.476.476 0 0 0 .086-.264c-.231-2.795-2.053-4.076-5.758-4.076z" />
				</svg>
				<p>Node.Js</p>
			</div>
			
			<div class="logoSkills">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
					<path fill="#7611a6" d="M2.6 10.59L8.38 4.8l1.69 1.7c-.24.85.15 1.78.93 2.23v5.54c-.6.34-1 .99-1 1.73a2 2 0 0 0 2 2a2 2 0 0 0 2-2c0-.74-.4-1.39-1-1.73V9.41l2.07 2.09c-.07.15-.07.32-.07.5a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2c-.18 0-.35 0-.5.07L13.93 7.5a1.98 1.98 0 0 0-1.15-2.34c-.43-.16-.88-.2-1.28-.09L9.8 3.38l.79-.78c.78-.79 2.04-.79 2.82 0l7.99 7.99c.79.78.79 2.04 0 2.82l-7.99 7.99c-.78.79-2.04.79-2.82 0L2.6 13.41c-.79-.78-.79-2.04 0-2.82" />
				</svg>
				<p>Git</p>
			</div>
		</div>
		</div>
		
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Soft Skill</h2>
		<p>Patient, autonome et polyvalent, je suis également capable de m'adapter rapidement aux nouveaux défis et de collaborer efficacement en équipe.</p>
	</div>

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Perspective</h2>
		<p>Curieux, je m'efforce d'explorer et d'apprendre constamment, en effectuant une veille régulière, afin d'améliorer mes compétences dans le domaine du développement.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
